/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS overflow */


/*  */

html,body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  background-image: url('backgroundLNB.png');
  background-image-min-height: 100%;
  background-image-width: 100%;
  background-image-height: auto;
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}


.navbar {
	background-color: #B9C5C8;
	opacity: 0.70; 
    line-height: 1;
    width: 100%;
}

.navbar a.navbar-brand {
	color: #111b12;
	display: inline;
	font-family: "helvetica";
}

.navbar .navbar-nav .nav-item a.nav-link {
	color: #111b12;
	white-space: nowrap;
	display: inline;
	font-family: "helvetica";
	text-align: center;
	float: none;
	padding-right: 45px;
}


.welcome {
	position: relative;
    top: 370px;
	color: #b9c5c8;
	opacity: 1;
	font-family: 'ProximaNovaBold';
	font-size: 60px; 
	letter-spacing: 0.1em;
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
}

.to {
	position: relative;
    top: 380px;
	color: #b9c5c8;
	opacity: 1; 
	font-family: 'ProximaNovaBold';
	font-size: 30px;
	letter-spacing: 0.1em;
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
}

.cloudsplitter {
    position: relative;
    top: 390px;
    color: #b9c5c8;
    opacity: 1;
    font-family: 'ProximaNovaBold';
    font-size: 60px; 
    letter-spacing: 0.1em;
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
}

.clickText{
    position: relative;
    top: 400px;
    color: #b9c5c8;
    opacity: 1; 
    font-family: 'ProximaNovaBold';
    font-size: 30px;
    letter-spacing: 0.1em;
    animation: fadeIn ease 8s;
    -webkit-animation: fadeIn ease 8s;
    
}

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
