.masthead {
  height: 100vh;
  min-height: 100px;
  background-image: url('background4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar {
	background-color: #a0a5a3;
	opacity: 0.75; 
    filter:(opacity=75);
    line-height: 1;
}

p {
	color: #b0b2b1;
}

h1 {
	color: #b0b2b1;
}

h2 {
	color: #b0b2b1;	
}